<style>
    .btn {
        background-color: rgb(236, 103, 63);
        outline: none;
        border: none;
        color: white;
        padding: 6px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 6px;
        text-decoration: none;
    }

    .btn:hover {
        background-color: rgba(241, 120, 83, 0.664);
        border: #FFF solid 1px;
    }
</style>

<div style="display: flex; align-items: center; background-color: darksalmon;">
    <h1 style="padding-left: 48px; color: white;">E-POOD</h1>
    <div style="position: absolute; right: 48px;">
        <a href="/" class="btn">Shop</a>
        <a href="/products" class="btn">Products</a>
        <a href="/cart" class="btn">Cart<a>
        <a href="/add-product" class="btn">Add Product</a>
        <a href="/admin/" class="btn">Admin Products</a>
    </div>
</div>