<style>
    .btn {
        -webkit-transition-duration: 0.2s;
        background-color: rgb(236, 103, 63);
        outline: none;
        border: none;
        color: white;
        padding: 6px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 6px;
        text-decoration: none;
    }

    .btn:hover {
        -webkit-transition-duration: 0.2s;
        background-color: rgba(241, 120, 83, 0.664);
        border: #FFF solid 1px;
    }
</style>

<script>
    window.onload = () => {
    const uid = localStorage.getItem("user")
    document.getElementById('cart-link').href = '/cart/' + uid;
}
</script>

<div style="display: flex; align-items: center; background-color: darksalmon;">
    <h1 style="padding-left: 48px; color: white;">E-POOD</h1>
    <div style="position: absolute; right: 48px;">
        <a href="/" class="btn">Shop</a>
        <a href="/products" class="btn">Products</a>
        <a id="cart-link" href='/cart/' class="btn">Cart<a>
        <a href="/admin/" class="btn">Admin View</a>
    </div>
</div>