<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

    a,
    btn,
    p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    h1,
    h2,
    h3 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
</style>

<body style="margin: 0px;">
    <%- include('./components/navbar.ejs'); %>
        <div style="margin-left: 42px;">
            <h1>Page not found</h1>
            <p>Saad minna <a href="/">siit</a> tagasi.</p>
        </div>
</body>